<% @questions.each do |question| %>
    <%= form_with url: site_answer_path, method: :post do |form| %>

        <div class="p-4 mb-3 bg-body-tertiary rounded-3"> 
            <div class="container-fluid py-4">
                <h2 class="display-4 fw-bold fs-5"><%= question.description %></h2>
                <p class="col-md-7 fs-5"><%= question.subject.description %></p>
            </div>
            <div class="panel-body">
                <ul>
                    <% question.answers.each do |answer| %>
                        <li style="list-style-type: none";>
                            <div class="raadio">
                                <label>
                                    <%= radio_button_tag "answer_id", answer.id %> <%= answer.description %>
                                </label>
                            </div>
                        </li>
                    <% end %>
                    <ul>
                        <li class="text-end" style="list-style-type: none;">
                            <%= form.submit "Submit", class: "btn btn-info" %>
                        </li>
                    </ul>
                </ul>
            </div>
            <li style="list-style-type: none";>
                <div id="result_<%= question.id %>"></div>
            </li>            
        </div>
    <% end %>
<% end %>
<div class="d-flex justify-content-center">
    <%= paginate @questions %>
</div>