  <h1>Subjects</h1>
  <p>Find me in app/views/Subjects_backoffice/Subjects/index.html.erb</p>

  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Assunto</th>
          <th scope="col">created at</th>
          <th scope="col">
            <%= link_to 'Create Subject', new_admins_backoffice_subject_path, class: "btn btn-info" %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @subjects.each do |subject|%>
        <tr>
          <td><%= subject.id %></td>
          <td><%= subject.description %></td>
          <td><%= subject.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          <td style=" width: 150px" >
              <%= link_to 'Edit', edit_admins_backoffice_subject_path(subject), class: "btn btn-info" %>
              <%= button_to 'Delete',
                admins_backoffice_subject_path(subject),
                method: :delete,
                data: { confirm: "Tem certeza que deseja deletar este assunto?" },
                class: "btn btn-danger",
                form: { style: "display:inline" } %>
            </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <%= paginate @subjects %>
  </div>
